html {
    scroll-behavior: smooth;
}

:root {
    --couleur-principale: #F7F7F2;
    --couleur-secondaire: #252525;
    --couleur-secondaire-animation: #141414;
}

body {
    background-color: var(--couleur-principale);
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: var(--couleur-secondaire);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header-location-container {
    display: flex;
    position: relative;
    font-size: 1vw;
    font-weight: 400;
    text-transform: capitalize;
    width: 80%;
}

.header-location-gps {
    position: absolute;
    top: 1.5vw;
    font-size: 0.8vw;
    left: 3.9vw;
    font-weight: 300;
}

.header-contact {
    font-size: 1vw;
    font-weight: 400;
    margin-top: 1vw;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    text-transform: capitalize;
}

@media screen and (max-width: 900px) {
    .header-location-container {
        font-size: 2.5vw;
        margin-top: 4vw;
    }

    .header-location-gps {
        top: 4vw;
        font-size: 1.7vw;
        left: 9.7vw;
    }

    .header-contact {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 500px) {
    .header-location-container {
        font-size: 4.5vw;
    }

    .header-location-gps {
        top: 8vw;
        font-size: 2.7vw;
        left: 0vw;
    }

    .header-contact {
        font-size: 4.5vw;
        margin-top: 4vw;
        font-weight: 700;
    }
}

.main-content-top {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 50%;
    margin: auto;
    margin-top: 9vw;
    font-size: 1.5vw;

    h1 {
        font-size: 5vw;
        font-weight: 700;
        margin: 0;
    }
}

.sub-title-top {
    font-size: 1.5vw;
    font-weight: 400;
    margin-right: 1vw;
    transform: translateY(-0.4vw);
    position: relative;

    span {
        color: var(--couleur-principale);
    }
}

.sub-title-top::before {
    content: "";
    display: block;
    width: 53%;
    height: 105%;
    background-color: var(--couleur-secondaire);
    position: absolute;
    border-radius: 0.5vw;
    z-index: -1;
    right: -0.3vw;
}

.main-content-bottom {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 50%;
    margin: 0vw auto;
    font-size: 1.5vw;
    margin-top: -3vw;

    h1 {
        font-size: 5vw;
        font-weight: 700;
        margin: 0;
    }
}

.sub-title-bottom {
    font-size: 1.5vw;
    font-weight: 400;
    margin-left: 0.5vw;
    transform: translateY(-0.4vw);
    position: relative;
    span {
        color: var(--couleur-principale);
    }
}

.sub-title-bottom::before {
    content: "";
    display: block;
    width: 60%;
    height: 105%;
    background-color: var(--couleur-secondaire);
    position: absolute;
    border-radius: 0.5vw;
    z-index: -1;
    right: -0.3vw;
}

@media screen and (max-width: 900px) {
    .main-content-top {
        width: 80%;
        margin-top: 20vw;

        h1 {
            font-size: 8vw;
        }
    }

    .sub-title-top {
        font-size: 3.5vw;
    }

    .sub-title-top::before {
        width: 51%;
    }

    .main-content-bottom {
        width: 80%;

        h1 {
            font-size: 8vw;
        }
    }

    .sub-title-bottom {
        font-size: 3.5vw;
    }

    .sub-title-bottom::before {
        width: 57%;
    }
}

@media screen and (max-width: 500px) {
    .main-content-top {
        width: 90%;
        margin-top: 33vw;
        h1 {
            font-size: 10vw;
        }
    }

    .sub-title-top {
        font-size: 3vw;
        margin-right: 1vw;
    }

    .sub-title-top::before {
        width: 51%;
        border-radius: 1vw;
    }

    .main-content-bottom {
        width: 90%;
        margin-top: -6vw;
        h1 {
            font-size: 10vw;
        }
    }

    .sub-title-bottom {
        font-size: 3vw;
        margin-left: 1vw;
    }

    .sub-title-bottom::before {
        width: 57%;
        border-radius: 1vw;
    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 9vw;
    height: 18vw;
    margin-bottom: 20vw;
}

.card-link-left,
.card-link-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 1.5vw;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
    h2 {
        font-size: 6vw;
        font-weight: 700;
        margin: 0;
    }
    p {
        font-size: 1.5vw;
        font-weight: 400;
        margin: 0;
    }
}

.card-link-left:hover {
    transform: scale(1.05) !important;
}

.card-link-right {
    background-color: var(--couleur-secondaire);
    color: var(--couleur-principale);
}

.card-link-right:hover {
    transform: scale(1.05) !important;
}


.card-sub-title-left,
.card-sub-title-right {
    font-size: 1vw;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .section {
        margin-top: 20vw;
        height: 27vw;
    }

    .card-link-left,
    .card-link-right {
        width: 45%;
        h2 {
            font-size: 7vw;
        }
        p {
            font-size: 2vw;
        }
    }

    .card-sub-title-left,
    .card-sub-title-right {
        font-size: 2vw;
    }
}

@media screen and (max-width: 500px) {
    .section {
        flex-direction: column;
        margin-top: 33vw;
        height: 90vw;
        gap: 5vw;
    }

    .card-link-left,
    .card-link-right {
        width: 90%;
        h2 {
            font-size: 12vw;
        }
        p {
            font-size: 4vw;
            font-weight: 400;
            margin: 0;
        }
    }

    .card-link-right {
        border-radius: 2.5vw;
    }

    .card-sub-title-left,
    .card-sub-title-right {
        font-size: 2.5vw;
    }
}