:root {
    --couleur-principale: #dbdadf;
    --couleur-secondaire: #ffffff;
    --couleur-tertiaire: #252525;
}

body {
    background-color: var(--couleur-principale);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--couleur-tertiaire);
}

a{
    text-decoration: none;
}

#A-TechProBG {
    background-color: #bcffda;
}

#RenoLandesBG {
    background-color: #88a3c6b6;
}

#NihongoBG {
    background-color: #f8e5e2;
}

#CarteVlBG {
    background-color: #d2ccfb;
}

#RenoLandesV1BG {
    background-color: #dcdffe;
}

#SitePresBG {
    background-color: #fad6e0;
}

#AppDeChangeBG {
    background-color: #def1f2;
}

.back {
    position: fixed;
    top: 4vw;
    left: 5vw;
    width: 10vw;
    height: 3vw;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5vw;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.162);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1vw;
    color: var(--couleur-tertiaire);
    img{
        width: 1.5vw;
        height: 1.5vw;
    }
}

@media screen and (min-width: 2600px) {
    .back {
        top: 3vw;
        left: 15vw;
        width: 7.5vw;
        height: 2vw;
        font-size: 0.5vw;
        img{
            width: 1vw;
            height: 1vw;
        }
    }
}

@media screen and (max-width: 900px) {
    .back {
        top: 5vw;
        left: 5vw;
        width: 15vw;
        height: 4.5vw;
        font-size: 1.5vw;
        img{
            width: 2vw;
            height: 2vw;
        }
    }
}

@media screen and (max-width: 500px) {
    .back {
        top: 90vh;
        left: 80vw;
        transform: translateX(-50%);
        width: 30vw;
        height: 10vw;
        font-size: 3vw;
        border-radius: 5px;
        img{
            width: 5vw;
            height: 5vw;
        }
    }
}


.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 46vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 7vw;
    margin-bottom: 5vw;
}

.header__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2vw;
}

.header__links img {
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
}

.header__description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.header__description span {
    font-size: 2.5vw;
    font-weight: 600;
}

.header__title {
    font-size: 7.8vw;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.createur {
    font-size: 1vw;
}

.carte-container {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    height: 37vw;
}

#CarteVlcarte-container {
    height: 47vw !important;
}

.carte_cadre {
    width: 100%;
    height: 100%;
    background-color: var(--couleur-tertiaire);
    border-radius: 0.5vw;
    position: relative;
}

.carte_sub_cadre, .carte_sub_cadre-app {
    position: absolute;
    width: 83%;
    height: 83%;

    border-radius: 0.5vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#A-TechPro {
    background-color: #00ff738f;
}

#RenoLandes {
    background-color: #215dabb6;
}

#Nihongo {
    background-color: #f75c48b5;
}

#CarteVl {
    background-color: #6a5ec8cf;
}

#RenoLandesV1 {
    background-color: #5465ffce;
}

#SitePres {
    background-color: #fa7498be;
}

#RealRate {
    background-color: #70ABAF;
}

.carte_sub_cadre-app img {
    position: absolute;
    border-radius: 0.5vw;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--couleur-tertiaire);
    padding: 1vw;
    border-radius: 2vw;
}

.carte_sub_cadre img {
    position: absolute;
    border-radius: 0.5vw;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.info-left,
.info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-right {
    align-items: flex-end;
    text-align: right;
}

.info-left :nth-child(1),
.info-right :nth-child(1) {
    font-size: 1vw;
    font-weight: 300;
}

.info-left :nth-child(2),
.info-right :nth-child(2) {
    font-size: 2vw;
    font-weight: 600;
}

.carte {
    width: 70vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cadre,.cadre-mobile, .cadre-mobile-Change {
    width: 33vw;
    height: 25vw;
    background-color: var(--couleur-tertiaire);
    border-radius: 0.5vw;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.7s;
    margin-top: 2vw;
}

#CarteVlcadre {
    height: 35vw !important;
}

.cadre img {
    width: 88%;
    border-radius: 0.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.7s;
    z-index: 1;
}

.cadre-mobile img{
    height: 85%;
    border-radius: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.7s;
    z-index: 1;
    padding: 0.5vw;
    background-color: #f75c48b5;
}

.cadre-mobile-Change img{
    height: 85%;
    border-radius: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.7s;
    z-index: 1;
    padding: 0.5vw;
    background-color: #70ABAF;
}

.section-description {
    width: 70vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-between;
}

.description-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-text :nth-child(1) {
    font-size: 1vw;
    font-weight: 300;
}

.description-text :nth-child(2) {
    font-size: 2vw;
    font-weight: 600;
}

.description {
    width: 70vw;
    margin-bottom: 10vw;
    font-size: 1.5vw;
    font-weight: 200;
    margin-left: 50%;
    transform: translateX(-50%);
    word-spacing: 0.2vw;
    letter-spacing: 0.03vw;
    line-height: 130%;
    margin-top: 0;
}

@media screen and (min-width: 2600px) {
    .header-container {
        width: 40vw;
    }

    .header__links {
        margin-bottom: 1vw;
    }

    .header__links img {
        width: 1.2vw;
        height: 1.2vw;
    }

    .header__description span {
        font-size: 1vw;
        font-weight: 600;
    }

    .header__title {
        font-size: 6vw;
    }

    .createur {
        font-size: 1vw;
    }

    .carte-container {
        width: 55vw;
        height: 27vw;
    }

    #CarteVlcarte-container {
        height: 37vw !important;
    }

    .carte_cadre {
        border-radius: 0.7vw;
    }

    .carte_sub_cadre {
        width: 85%;
        height: 85%;
        border-radius: 0.6w;
    }

    .info {
        width: 54vw;
        margin-top: 7vw;
        margin-bottom: 3vw;
    }

    .info-left :nth-child(1),
    .info-right :nth-child(1) {
        font-size: 1vw;
    }

    .info-left :nth-child(2),
    .info-right :nth-child(2) {
        font-size: 1.7vw;
    }

    .carte {
        align-items: center;
        width: 60vw;
    }

    .cadre {
        width: 27vw;
        height: 18vw;
        border-radius: 0.5vw;
        margin-top: 2vw;
    }
    
    .cadre-mobile, .cadre-mobile-Change{
        width: 27vw;
        height: 27vw;
        border-radius: 0.5vw;
        margin-top: 2vw;
    }

    #CarteVlcadre {
        height: 27vw !important;
    }

    .cadre img {
        border-radius: 0.4vw;
    }

    .section-description {
        width: 55vw;
        margin-top: 7vw;
        margin-bottom: 1vw;
    }

    .description-text :nth-child(1) {
        font-size: 1vw;
        font-weight: 300;
    }

    .description-text :nth-child(2) {
        font-size: 2vw;
        font-weight: 600;
    }

    .description {
        width: 55vw;
        margin-bottom: 10vw;
        font-size: 1vw;
    }
}

@media screen and (max-width: 500px) {
    .header-container {
        width: 60vw;
        margin-bottom: 15vw;
    }

    .header__links {
        margin-bottom: 2vw;
    }

    .header__links img {
        width: 5vw;
        height: 5vw;
    }

    .header__description span {
        font-size: 4vw;
        font-weight: 600;
        margin-bottom: 2vw;
    }

    .header__title {
        font-size: 10vw;
        margin-bottom: 2vw;
    }

    .createur {
        font-size: 3vw;
    }

    .carte-container {
        width: 90vw;
        height: 70vw;
    }

    #CarteVlcarte-container {
        height: 67vw !important;
    }

    .carte_cadre {
        border-radius: 2vw;
    }

    .carte_sub_cadre {
        width: 90%;
        height: 90%;
        border-radius: 1.5vw;
    }

    .info {
        width: 85vw;
        margin-top: 15vw;
        margin-bottom: 10vw;
        img{
            width: 7vw;
            height: 7vw;
        }
    }

    .info-left :nth-child(1),
    .info-right :nth-child(1) {
        font-size: 3vw;
        margin-bottom: 0.8vw;
    }

    .info-left :nth-child(2),
    .info-right :nth-child(2) {
        font-size: 5vw;
    }

    .info-right{
        display: none;
    }

    .carte {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }

    .cadre {
        width: 90vw;
        height: 70vw;
        border-radius: 1.5vw;
        margin-top: 4vw;
    }

    .cadre-mobile, .cadre-mobile-Change{
        width: 90vw;
        height: 90vw;
        border-radius: 1.5vw;
        margin-top: 4vw;
    }

    #CarteVlcadre {
        height: 90vw !important;
    }

    .cadre img {
        border-radius: 1vw;
    }

    .cadre-mobile img, .cadre-mobile-Change img{
        height: 85%;
        border-radius: 5vw;
        padding: 2vw;
    }

    .section-description {
        width: 90vw;
        margin-top: 15vw;
        margin-bottom: 2vw;
        img{
            width: 7vw;
            height: 7vw;
        }
    }

    .description-text :nth-child(1) {
        font-size: 2.5vw;
        font-weight: 300;
        margin-bottom: 0.8vw;
    }

    .description-text :nth-child(2) {
        font-size: 5vw;
        font-weight: 600;
    }

    .description {
        width: 90vw;
        margin-bottom: 30vw;
        font-size: 2.5vw;
        word-spacing: 0.4vw;
        letter-spacing: 0.06vw;
        line-height: 160%;
        font-weight: 500;
        margin-top: 4vw;
    }
}