body {
    cursor: none;
}

a {
    cursor: none;
}

.custom-cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    mix-blend-mode: difference;
    transition: transform 0.2s ease-in-out;
}

.custom-cursor.zoom {
    transform: translate(-50%, -50%) scale(2);
}

@media (max-width: 900px) {
    body {
        cursor: auto;
    }

    a {
        cursor: auto;
    }

    .custom-cursor {
        display: none;
    }
}


/* Défini les animation */

/* @keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-location-container{
    animation: fadeInTop 0.7s ease-in-out;
}

.header-contact{
    animation: fadeInTop 0.7s ease-in-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate(-100px , -0.4vw);
    }

    to {
        opacity: 1;
        transform: translate(0px , -0.4vw);
    }
}

.sub-title-top{
    animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate(100px , -0.4vw);
    }

    to {
        opacity: 1;
        transform: translate(0px , -0.4vw);
    }
}

.sub-title-bottom{
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-link-left {
    animation: fadeIn 0.7s ease-in-out ;
}

.card-link-right {
    animation: fadeIn 0.7s ease-in-out;
} */