:root {
    --couleur-principale: #F7F7F2;
    --couleur-secondaire: #252525;
    --couleur-secondaire-animation: #141414;
}

body {
    background-color: var(--couleur-principale);
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: var(--couleur-secondaire);
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--couleur-secondaire);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-a-la-une {
    background-color: #F75D48;
    /* /////////////////////////////////////////////   bg color  */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
}

.header-a-la-une_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.header-a-la-une_content span {
    font-size: 1.3vw;
    font-weight: 400;
    color: var(--couleur-principale);
}

.header-a-la-une_title {
    font-size: 8vw !important;
    font-weight: 700 !important;
}

.header-a-la-une_content div {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.img-a-la-une-BG {
    width: 75vw;
    height: 40vw;
    background-color: var(--couleur-secondaire);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 70vw;
        height: 37vw;
    }
}

.img-a-la-une {
    width: 70vw;
    height: 37vw;
    object-fit: cover;
    border-radius: 0.5vw;
}

@media screen and (min-width: 2600px) {

    .header-a-la-une_content span {
        font-size: 1.3vw;
    }

    .header-a-la-une_title {
        font-size: 7vw !important;
    }

    .img-a-la-une-BG {
        width: 61vw;
        height: 34vw;

        img {
            width: 55vw;
            height: 30vw;
        }
    }

    .img-a-la-une {
        width: 61vw;
    }

}

@media screen and (max-width: 900px) {
    .header-a-la-une_content {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .img-a-la-une-BG {
        width: 93vw;
        height: 50vw;

        img {
            width: 80vw;
            height: 43vw;
        }
    }

    .img-a-la-une {
        width: 90vw;
    }

}

@media screen and (max-width: 500px) {
    .header-a-la-une {
        padding-top: 5vw;
        padding-bottom: 30vw;
    }

    .header-a-la-une_content span {
        font-size: 3vw;
    }

    .header-a-la-une_title {
        font-size: 13vw !important;
    }

    .header-a-la-une_content {
        margin-top: 15vw;
        margin-bottom: 15vw;
    }

    .img-a-la-une-BG {
        width: 76vw;
        height: 140vw;
        border-radius: 3vw;

        img {
            width: 60vw;
            height: 130vw;
        }
    }

    .img-a-la-une {
        width: 90vw;
        border-radius: 1.5vw;
    }
}

.projet-nav {
    margin-bottom: 7vw;
}

.projet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vw;
    margin-bottom: 18vw;
}

.projet-header span {
    font-size: 1vw;
    font-weight: 400;
    color: var(--couleur-secondaire);
    text-align: center;
}

.projet-header h1 {
    font-size: 10vw;
    font-weight: 700;
    text-align: center;
}

.last-projet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin-bottom: 10vw;
}

.last-projet span {
    font-size: 1.7vw;
    font-weight: 600;
    color: var(--couleur-secondaire);
}

.projet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    margin-bottom: 10vw;
}

.projet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.projet-card div {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.projet-card span {
    font-size: 1.5vw;
    font-weight: 300;
    color: var(--couleur-secondaire);
}

.projet-card_title {
    font-size: 6vw !important;
    font-weight: 700 !important;
    padding: 1vw;
    text-align: center;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
}

.projet-card_title:hover {
    transform: scale(1.05);
}

#EnCours {
    color: #a025bf;
}

#Terminee {
    color: #25bfa0;
}

@media screen and (min-width: 2600px) {

    .projet-nav {
        margin-bottom: 6vw;
        overflow-y: hidden;
    }

    .projet-header {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .projet-header span {
        font-size: 1vw;
    }

    .projet-header h1 {
        font-size: 7vw;
    }

    .last-projet {
        width: 50vw;
        margin-bottom: 10vw;
    }

    .last-projet span {
        font-size: 1.5vw;
    }

    .projet-container {
        margin-bottom: 6vw;
    }

    .projet-card {
        width: 30vw;
    }

    .projet-card span {
        font-size: 1.2vw;
    }

    .projet-card_title {
        font-size: 4.5vw !important;
        padding: 0.5vw;
    }

}

@media screen and (max-width: 900px) {
    .projet-nav {
        margin-bottom: 30vw;
        overflow-y: hidden;
    }

    .projet-header {
        margin-top: 25vw;
        margin-bottom: 25vw;
    }

    .projet-header span {
        font-size: 2vw;
    }

    .projet-header h1 {
        font-size: 13vw;
    }

    .last-projet {
        width: 80vw;
        margin-bottom: 25vw;
    }

    .last-projet span {
        font-size: 4vw;
    }

    .projet-card {
        width: 65vw;
    }

    .projet-card span {
        font-size: 3vw;
    }

    .projet-card_title {
        font-size: 9vw !important;
        padding: 3vw;
    }
}

@media screen and (max-width: 500px) {
    .projet-nav {
        margin-bottom: 55vw;
    }

    .projet-header {
        margin-top: 25vw;
        margin-bottom: 25vw;
    }

    .projet-header span {
        font-size: 3.5vw;
    }

    .projet-header h1 {
        font-size: 15vw;
    }

    .last-projet {
        width: 80vw;
        margin-bottom: 25vw;
    }

    .last-projet span {
        font-size: 4vw;
    }

    .projet-container {
        width: 80vw;
        margin-bottom: 20vw;
    }

    .projet-card {
        width: 65vw;
    }

    .projet-card span {
        font-size: 3vw;
    }

    .projet-card_title {
        font-size: 10vw !important;
        padding: 3vw;
    }
}