:root {
    --couleur-principale: #F7F7F2;
    --couleur-secondaire: #252525;
    --couleur-secondaire-animation: #141414;
}

body {
    background-color: var(--couleur-principale);
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: var(--couleur-secondaire);
}

@media screen and (min-width: 1900px) {
    section {
        margin-left: 20%;
        margin-right: 20%;
    }
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--couleur-secondaire);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-a-la-une {
    background-color: #F75D48;
    /* /////////////////////////////////////////////   bg color  */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
}

.header-a-la-une_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.header-a-la-une_content span {
    font-size: 1.3vw;
    font-weight: 400;
    color: var(--couleur-principale);
}

.header-a-la-une_title {
    font-size: 8vw !important;
    font-weight: 700 !important;
}

.header-a-la-une_content div {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.img-a-la-une-BG {
    width: 75vw;
    height: 40vw;
    background-color: var(--couleur-secondaire);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-a-la-une {
    width: 70vw;
    object-fit: cover;
    border-radius: 0.5vw;
}

@media screen and (max-width: 900px) {

    .img-a-la-une-BG {
        width: 93vw;
        height: 50vw;
    }

    .img-a-la-une {
        width: 90vw;
    }

}

.projet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vw;
    margin-bottom: 18vw;
}

.projet-header span {
    font-size: 1vw;
    font-weight: 400;
    color: var(--couleur-secondaire);
    text-align: center;
}

.projet-header h1 {
    font-size: 10vw;
    font-weight: 700;
    text-align: center;
}

.last-projet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin-bottom: 10vw;
}

.last-projet span {
    font-size: 1.7vw;
    font-weight: 600;
    color: var(--couleur-secondaire);
}

.projet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    margin-bottom: 10vw;
}

.projet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.projet-card div {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.projet-card span {
    font-size: 1.5vw;
    font-weight: 300;
    color: var(--couleur-secondaire);
}

.projet-card_title {
    font-size: 6vw !important;
    font-weight: 700 !important;
    padding: 1vw;
    text-align: center  ;
}
