html {
    scroll-behavior: smooth;
}

:root {
    --couleur-principale: #F7F7F2;
    --couleur-secondaire: #252525;
    --couleur-secondaire-animation: #141414;
}

body {
    background-color: var(--couleur-principale);
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: var(--couleur-secondaire);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

button {
    cursor: none;
    border: none;

}

input {
    cursor: none;
    border: var (--couleur-secondaire) 1px solid;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--couleur-secondaire);
}

.back {
    position: fixed;
    top: 4vw;
    left: 5vw;
    width: 10vw;
    height: 3vw;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5vw;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.162);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1vw;
    color: var(--couleur-tertiaire);
    img{
        width: 1.5vw;
        height: 1.5vw;
    }
}

@media screen and (min-width: 2600px) {
    .back {
        top: 3vw;
        left: 15vw;
        width: 7.5vw;
        height: 2vw;
        font-size: 0.5vw;
        img{
            width: 1vw;
            height: 1vw;
        }
    }
}

@media screen and (max-width: 900px) {
    .back {
        top: 5vw;
        left: 5vw;
        width: 15vw;
        height: 4.5vw;
        font-size: 1.5vw;
        img{
            width: 2vw;
            height: 2vw;
        }
    }
}

@media screen and (max-width: 500px) {
    .back {
        top: 90vh;
        left: 80vw;
        transform: translateX(-50%);
        width: 30vw;
        height: 10vw;
        font-size: 3vw;
        border-radius: 5px;
        img{
            width: 5vw;
            height: 5vw;
        }
    }
}


.contact-form {
    display: none;
}

.projet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.projet-header span {
    font-size: 1vw;
    font-weight: 400;
    color: var(--couleur-secondaire);
    text-align: center;
}

.projet-header h1 {
    font-size: 7vw;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 2600px) {
    .projet-header {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .projet-header span {
        font-size: 0.8vw;
    }

    .projet-header h1 {
        font-size: 5vw;
    }

}

@media screen and (max-width: 900px) {
    .projet-header {
        margin-top: 7vw;
        margin-bottom: 7vw;
    }

    .projet-header span {
        font-size: 2vw;
    }

    .projet-header h1 {
        font-size: 10vw;
    }
}

@media screen and (max-width: 500px) {
    .projet-header {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .projet-header span {
        font-size: 3.5vw;
    }

    .projet-header h1 {
        font-size: 15vw;
    }
}

.type-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.type-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    gap: 7vw;
}

.type-contact-link {
    text-decoration: none;
    color: var(--couleur-principale);
    background-color: var(--couleur-secondaire);
    font-size: 1.5vw;
    font-weight: 700;
    width: 25vw;
    height: 12vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}

.type-contact-link:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 2600px) {
    .type-contact {
        margin-top: 3vw;
        margin-bottom: 4vw;
        gap: 5vw;
    }

    .type-contact-link {
        width: 20vw;
        height: 10vw;
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 900px) {
    .type-contact {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .type-contact-link {
        font-size: 3vw;
        width: 38vw;
        height: 19vw;
        border-radius: 1.5vw;
    }
}

@media screen and (max-width: 500px) {
    .type-contact {
        margin-top: 5vw;
        margin-bottom: 10vw;
        flex-direction: column;
    }

    .type-contact-link {
        font-size: 4.5vw;
        width: 75vw;
        height: 25vw;
        border-radius: 3vw;
    }
}

.contact-rapide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    
    p {
        font-size: 1.3vw;
        font-weight: 700;
        margin: 0;
    }
}

.contact-rapide-item:hover {
    transform: scale(1.1);
}

.contact-rapide-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.contact-rapide-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-secondaire);
    color: var(--couleur-principale);
    font-size: 1.3vw;
    font-weight: 700;
    width: 10vw;
    height: 7vw;
    border-radius: 1vw;
    padding: 0.5vw;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
    img {
        width: 4vw;
        height: 4vw;
    }
}

@media screen and (min-width: 2600px) {
    .contact-rapide {
        gap: 1.5vw;
    }

    .contact-rapide-item {
        font-size: 1.1vw;
        width: 8vw;
        height: 5vw;
        border-radius: 0.8vw;
        padding: 0.4vw;

        img {
            width: 3.5vw;
            height: 3.5vw;
        }
    }
}

@media screen and (max-width: 900px) {
    .contact-rapide {
        gap: 3vw;

        p {
            font-size: 3vw;
        }
    }

    .contact-rapide-conatiner {
        flex-wrap: wrap;
        gap: 2vw;
        width: 80vw;
    }

    .contact-rapide-item {
        font-size: 2.5vw;
        width: 30vw;
        height: 14vw;
        border-radius: 2vw;
        padding: 1vw;

        img {
            width: 8vw;
            height: 8vw;
        }
    }
}

@media screen and (max-width: 500px) {
    .contact-rapide {
        gap: 5vw;

        p {
            font-size: 4.5vw;
        }
    }

    .contact-rapide-conatiner {
        flex-wrap: wrap;
        gap: 5vw;
        width: 80vw;
    }

    .contact-rapide-item {
        font-size: 4.5vw;
        width: 25vw;
        height: 18vw;
        border-radius: 3vw;
        padding: 2vw;

        img {
            width: 13vw;
            height: 13vw;
        }
    }
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    margin-top: 2vw;
    display: none;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2vw;
    width: 30%;
}

.contact-form-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    width: 100%;
}

.contact-form-choice-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-secondaire);
    color: var(--couleur-principale);
    font-size: 1vw;
    font-weight: 400;
    width: 45%;
    height: 2.2vw;
    border-radius: 0.4vw;
    padding: 0.5vw;
}

.contact-form-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    width: 100%;
}

.contact-form-Prenom,
.contact-form-Nom {
    font-size: 1vw;
    font-weight: 400;
    width: 45%;
    height: 2vw;
    border-radius: 0.4vw;
    padding: 0vw;
    background-color: transparent;
    position: relative;
    display: inline-block;
    padding-left: 0.3vw;
}

.contact-form-budget {
    font-size: 1vw;
    font-weight: 400;
    width: 54%;
    height: 2vw;
    border-radius: 0.4vw;
    padding: 0vw;
    background-color: transparent;
    padding-left: 0.3vw;
}

.contact-form-Nom-en,
.contact-form-E-mail {
    font-size: 1vw;
    font-weight: 400;
    max-width: 100%;
    height: 2vw;
    border-radius: 0.4vw;
    padding: 0vw;
    background-color: transparent;
    padding-left: 0.3vw;
}

.contact-form-description {
    font-size: 1vw;
    font-weight: 400;
    max-width: 100%;
    height: 6vw;
    border-radius: 0.4vw;
    padding: 0vw;
    background-color: transparent;
    padding-left: 0.3vw;
    display: flex;
}

.contact-form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-secondaire);
    color: var(--couleur-principale);
    font-size: 1vw;
    font-weight: 500;
    width: 100%;
    height: 2vw;
    border-radius: 0.4vw;
    padding: 0.5vw;
    cursor: pointer;
    margin-top: -1vw;
}

@media screen and (max-width: 900px) {

    .contact-form-container {
        gap: 3vw;
        width: 55%;
    }

    .contact-form-choice-item {
        width: 45%;
        height: 4.5vw;
        border-radius: 0.7vw;
        font-size: 2vw;
    }

    .contact-form-Prenom,
    .contact-form-Nom {
        font-size: 2vw;
        height: 4.5vw;
        border-radius: 0.7vw;
        padding-left: 1vw;
    }

    .contact-form-budget {
        font-size: 2vw;
        height: 4.5vw;
        border-radius: 0.7vw;
        padding-left: 1vw;
    }

    .contact-form-Nom-en,
    .contact-form-E-mail {
        font-size: 2vw;
        height: 4.5vw;
        border-radius: 0.7vw;
        padding-left: 1vw;
    }

    .contact-form-description {
        font-size: 2vw;
        height: 12vw;
        border-radius: 0.7vw;
        padding-left: 1vw;
    }

    .contact-form-submit {
        font-size: 2vw;
        height: 4.5vw;
        border-radius: 0.7vw;
    }
}

@media screen and (max-width: 500px) {

    .contact-form-container {
        gap: 5vw;
        width: 80%;
    }

    .contact-form-choice-item {
        width: 48%;
        height: 10vw;
        border-radius: 1.7vw;
        font-size: 4vw;
    }

    .contact-form-Prenom,
    .contact-form-Nom {
        height: 10vw;
        border-radius: 1.7vw;
        padding-left: 2vw;
        font-size: 4vw;
    }

    .contact-form-budget {
        height: 10vw;
        border-radius: 1.7vw;
        padding-left: 2vw;
        font-size: 4vw;
    }

    .contact-form-Nom-en,
    .contact-form-E-mail {
        height: 10vw;
        border-radius: 1.7vw;
        padding-left: 2vw;
        font-size: 4vw;
    }

    .contact-form-description {
        font-size: 2vw;
        height: 25vw;
        padding-left: 2vw;
        font-size: 4vw;
        border-radius: 1.7vw;
    }

    .contact-form-submit {
        height: 10vw;
        border-radius: 1.7vw;
        font-size: 4vw;
    }
}

.form-contact-rapide {
    position: absolute;
    right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-direction: column;

    p {
        font-size: 1.3vw;
        font-weight: 500;
        margin: 0;
    }
}

.form-contact-rapide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-direction: column;
}

@media screen and (min-width: 2600px) {
    .form-contact-rapide {
        right: 12vw;
    }

    .contact-form {
        margin-bottom: 10vw;
    }
}

@media screen and (max-width: 900px) {
    .form-contact-rapide {
        position: relative;
        gap: 2vw;
        width: 100vw;
        margin-left: 10vw;
        margin-top: 5vw;

        p {
            font-size: 1.3vw;
            font-weight: 500;
            margin: 0;
        }
    }

    .contact-form {
        margin-bottom: 10vw;
    }

    .form-contact-rapide-container {
        gap: 5vw;
        flex-direction: row;
    }
}